<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ConsoleControl" version="1.3.0" targetFramework="net48" />
  <package id="ConsoleControlAPI" version="1.3.0" targetFramework="net48" />
  <package id="Microsoft.Windows.CsWin32" version="0.3.106" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Windows.SDK.Win32Docs" version="0.1.42-alpha" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Win32Metadata" version="62.0.23-preview" targetFramework="net48" />
  <package id="Microsoft.Windows.WDK.Win32Metadata" version="0.12.8-experimental" targetFramework="net48" />
</packages>